# Ignore node_modules and frontend build artifacts
photomart-frontend/node_modules/
photomart-frontend/.env
photomart-frontend/.next/
photomart-frontend/dist/
photomart-frontend/build/
photomart-frontend/.expo/
photomart-frontend/.expo-shared/
photomart-frontend/.parcel-cache/
photomart-frontend/.DS_Store
photomart-frontend/*.log
photomart-frontend/*.env
photomart-frontend/*.env.*


# Ignore Maven and backend build artifacts
photomart-backend/target/
photomart-backend/.idea/
photomart-backend/.classpath
photomart-backend/.project
photomart-backend/.settings/
photomart-backend/.vscode/
photomart-backend/*.iml
photomart-backend/*.log

# General system files
.DS_Store
Thumbs.db
*.log
*.tmp

# Ignore environment or secret files if any
*.env
*.env.local